<div class="form-header">
  <h2>Satellite Form</h2>
  <a routerLink="">
    <mat-icon color="accent">arrow_back_ios</mat-icon>
  </a>
</div>
<div class="example-container">

  <div>
    <label for="satName"> Satellite Name</label>
    <nano-import-export-value [(ngModel)]="satName" id="satName"></nano-import-export-value>
  </div>
  <!-- <mat-form-field>
    <mat-label>Satellite Name</mat-label>
    <input matInput [(ngModel)]="satName" placeholder="Ex: NIMPH">
  </mat-form-field> -->
  <mat-form-field>
    <mat-label>Trace color</mat-label>
    <input matInput type="color" [(ngModel)]="colorValue">
  </mat-form-field>
  <form class="example-container">
    <div>
      <label>Orbit type: </label>
      <mat-radio-group [(ngModel)]="satType" [ngModelOptions]="{standalone: true}">
        <mat-radio-button value="keplerian">Keplerian</mat-radio-button>
        <mat-radio-button value="cartesian">Cartesian</mat-radio-button>
        <mat-radio-button value="tle">TLE</mat-radio-button>
      </mat-radio-group>
    </div>
  </form>

  <div *ngIf="satType === 'keplerian'" class="orbit-inputs">
    <div>
      <label for="sma"> Semi Major Axis (m)</label>
      <nano-import-export-value [(ngModel)]="sma" id="sma"></nano-import-export-value>
    </div>
    <div>
      <label for="ecc"> Eccentricity</label>
      <nano-import-export-value id="ecc" [(ngModel)]="ecc"></nano-import-export-value>
    </div>
    <div>
      <label for="inc"> Inclination (°)</label>
      <nano-import-export-value id="inc" [(ngModel)]="inc"></nano-import-export-value>
    </div>
    <div>
      <label for="omega"> Omega Angle (°)</label>
      <nano-import-export-value id="omega" [(ngModel)]="omega"></nano-import-export-value>
    </div>
    <div>
      <label for="Raan"> Raan Angle (°)</label>
      <nano-import-export-value id="raan" [(ngModel)]="raan"></nano-import-export-value>
    </div>
    <div>
      <label for="meanAnomaly"> Mean Anomaly (°)</label>
      <nano-import-export-value id="meanAnomaly" [(ngModel)]="meanAnomaly"></nano-import-export-value>
    </div>

    <!-- <mat-form-field>
      <mat-label>Semi major axis (m)</mat-label>
      <input matInput [(ngModel)]="sma" placeholder="Ex: 123000">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ecc</mat-label>
      <input matInput [(ngModel)]="ecc" placeholder="Ex: 0.07">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Inc (°)</mat-label>
      <input matInput [(ngModel)]="inc" placeholder="Ex: 90">
    </mat-form-field>

    <mat-form-field>
      <mat-label>omega (°)</mat-label>
      <input matInput [(ngModel)]="omega" placeholder="Ex: 0">
    </mat-form-field>

    <mat-form-field>
      <mat-label>raan (°)</mat-label>
      <input matInput [(ngModel)]="raan" placeholder="Ex: 0">
    </mat-form-field>

    <mat-form-field>
      <mat-label>mean anomaly (°)</mat-label>
      <input matInput [(ngModel)]="meanAnomaly" placeholder="Ex: 0">
    </mat-form-field> -->


    <button mat-stroked-button (click)="onSavingSat()" color="accent">Save</button>
  </div>

  <!-- Cartesian Parameter  -->
  <div *ngIf="satType === 'cartesian'" class="orbit-inputs">
    <mat-form-field>
      <mat-label>x (m)</mat-label>
      <input matInput [(ngModel)]="x" placeholder="Ex: -6142438.668">
    </mat-form-field>

    <mat-form-field>
      <mat-label>y (m)</mat-label>
      <input matInput [(ngModel)]="y" placeholder="Ex: 3492467.560">
    </mat-form-field>

    <mat-form-field>
      <mat-label>z (m)</mat-label>
      <input matInput [(ngModel)]="z" placeholder="Ex: -25767.25680">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Vx (m.s-1)</mat-label>
      <input matInput [(ngModel)]="vx" placeholder="Ex: 505.8479685">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Vy (m.s-1)</mat-label>
      <input matInput [(ngModel)]="vy" placeholder="Ex: 942.7809215">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Vz (m.s-1)</mat-label>
      <input matInput [(ngModel)]="vz" placeholder="Ex: 7435.922231">
    </mat-form-field>


    <button mat-stroked-button (click)="onSavingSat()" color="accent">Save</button>
  </div>

  <!-- tle Parameter  -->
  <div *ngIf="satType === 'tle'" class="orbit-inputs">
    <mat-form-field>
      <mat-label>TLE - line 1</mat-label>
      <input matInput [(ngModel)]="tleLine1"
        placeholder="Ex: 1 25544U 98067A   08264.51782528 -.00002182  00000-0 -11606-4 0  2927">
    </mat-form-field>

    <mat-form-field>
      <mat-label>TLE - line 2</mat-label>
      <input matInput [(ngModel)]="tleLine2"
        placeholder="Ex: 2 25544  51.6416 247.4627 0006703 130.5360 325.0288 15.72125391563537">
    </mat-form-field>

    <button mat-stroked-button (click)="onSavingSat()" color="accent">Save</button>
  </div>
</div>
<!-- Message display area -->
<div *ngIf="lastErrorMessage" class="jso-error-message-display">
  <p class="jso-text-style">{{ lastErrorMessage }}</p>
</div>
<div *ngIf="lastInfoMessage" class="jso-info-message-display">
  <p class="jso-text-style">{{ lastInfoMessage }}</p>
</div>
