.sidenav-container {
  height: 100%;
}

router-outlet{
  height: 100%;
}

.sidenav {
  width: 300px;
  line-height: 0;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-list{
  max-height: 160px;
  overflow-y: scroll;
  padding-top: 0px;
  padding-bottom: 0px;
}

mat-nav-list{
  display: flex;
  flex-direction: column;
}

.btn-item {
  margin-left: auto;
  visibility: hidden;
  z-index: 1;
}

mat-list-item:hover {
  .btn-item{
    visibility: visible;
  }
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  height: 32px;
}

#run-button{
  height: 70px;
  margin: 10px;
}

mat-card-actions {
  display: flex;

}

.mat-card-content {
  margin-bottom: 0px;
}

.add-button {
  width: 100%;
  text-align: center;
}

.nav-button{
  margin-left: auto;
}

.card-title{
  color: #858585;
  //line-height: 0;
}

mat-card{
  margin-bottom: 5px;
}

.footer {
  //height: 200px;
  position: fixed;
  bottom: 0px;
}

img {
  max-height: 60px;
}

.modeSelector {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
}

.all-wrap {
  min-height: 100vh; // same height as browser window height
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // same height as browser window height
}

.content {
  flex: 1; // child will set to an equal size inside the container
//  -webkit-flex: 1 1 auto;
//  overflow-y: auto;
//  height: 0px;
}

.radio {
  padding-left: 10px;
}

/*
 * Make the component injected by <router-outlet> full height
 */

 main {
   display: flex;
   flex-direction: column;

   // Select all direct descendants only of the <main> element
   // that are not <router-outlet> elements:
   > *:not(router-outlet) {
      flex: 1; // child will set to an equal size inside the container
      display: block;
   }
 }