  .mission-mgmt {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .mission-mgmt {
    margin-left: 50px;
    margin-right: 50px;
  }
  .mission-mgmt form {
    margin-bottom: 20px;
  }
  
  .mission-mgmt form > * {
    margin: 5px 0;
  }
  
  .mission-mgmt .mat-radio-button {
    margin: 0 5px;
  }
  
  .button {
    text-align: center;
  }
  
  $icon-size: 75px;
  
  .form-header {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    a {
      mat-icon {
        margin-left: 12px;
        font-size: $icon-size;
      }
    }
  }
  