<div class="form-header">
    <h2>Mission DataSet management</h2>
    <a routerLink="">
    <mat-icon color="accent">arrow_back_ios</mat-icon>
    </a>
</div>
<div class="mission-mgmt">
    <mat-form-field>
        <mat-label for="missionName">Mission Name</mat-label>
        <input matInput [(ngModel)]="missionName" 
            (paste)="onPasteInMissionInput($event)" 
            (keypress)="onAddCharacterInMissionInput($event)" 
            id="missionName" 
            placeholder="Mission data set name to store"/>
    </mat-form-field>
    <div class="jso-comment">The mission name is restricted to a characters subset compatible with filenames restrictions.</div>
    <div class="jso-button-spacer"></div>
    <button class="button" 
        mat-stroked-button 
        (click)="onSaveAsMission()" 
        color="primary">Save mission data set</button>
</div>
<div class="jso-spacer"></div>
<div class="mission-mgmt">
    <mat-form-field>
        <mat-select [(ngModel)]="selectedMission" placeholder="Select a mission data set">
        <mat-option *ngFor="let mission of missionDataSetList" [value]="mission">{{ mission }}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="jso-button-spacer"></div>
    <button class="button" mat-stroked-button (click)="onLoadMission()" [disabled]="!selectedMission" color="primary">Load</button>
    <div class="jso-button-spacer"></div>
    <button class="button" mat-stroked-button (click)="onDeleteMission()" [disabled]="!selectedMission" color="accent">Delete</button>
</div>
<!-- Message display area -->
<div *ngIf="lastErrorMessage" class="jso-error-message-display">
    <p class="jso-text-style">{{ lastErrorMessage }}</p>
  </div>
  <div *ngIf="lastInfoMessage" class="jso-info-message-display">
    <p class="jso-text-style">{{ lastInfoMessage }}</p>
  </div>
  