
<p>
  link-budget-form works!
</p>

<form enctype='application/json'>
  <input name='name' value='Bender'>
  <select name='hind'>
    <option selected>Bitable</option>
    <option>Kickable</option>
  </select>
  <input type='checkbox' name='shiny' checked>
  
        <a routerLink="">
          <mat-icon color="accent">arrow_back_ios</mat-icon>
        </a>  
  
</form>

<div>
  <button mat-stroked-button (click)="computeLB()" color="accent">Compute Link Budget</button>
</div>
<h2>Link budget calculation: {{linkBugdetSynthesis}} </h2>    
  
      <div class="form-header">
        <h2>GROUNDSTATION_LOCATION </h2>

          <div class="example-container">
            <div class="LinkBudgetInput">
            
              <mat-form-field>
                <mat-label>GS_altitude</mat-label>
                <input matInput [(ngModel)]="GS_altitude" placeholder="115m">
              </mat-form-field>
        
              <mat-form-field>
                <mat-label>GS_minElevation</mat-label>
                <input matInput [(ngModel)]="GS_minElevation" placeholder="10°">
              </mat-form-field>
          
          </div>  
         </div>  
        
          
      <div class="form-header">
        <h2>SPACECRAFT_FLIGHT_DYNAMICS </h2>

          <div class="example-container">
            <div class="LinkBudgetInput">
            
              <mat-form-field>
                <mat-label>SC_altitude</mat-label>
                <input matInput [(ngModel)]="SC_altitude" placeholder="650km">
              </mat-form-field>
          
          </div>  
         </div>  
        
                
      </div>
      