<div class="form-header">
    <h2>Constellation generator</h2>
    <a routerLink="">
        <mat-icon color="accent">arrow_back_ios</mat-icon>
    </a>
</div>
<!-- JSatOrb constellation generation options -->
<form [formGroup]="constellationWizardForm" (ngSubmit)="onCreateConstellation()" class="jso-form-container">

    <!-- Constellation name -->
    <mat-form-field class="jso-field-full-width">
        <mat-label for="consName"> Constellation Name</mat-label>
        <input matInput 
        id="consName" 
        formControlName="consName"
        [(ngModel)]="consName" 
        placeholder="This name is used as a prefix for all generated satellites"/>
    </mat-form-field>

    <!-- SMA -->
    <mat-form-field class="jso-field-full-width">
        <mat-label>Semi-major axis (which is also the radius since we consider no eccentricity) (m)</mat-label>
        <input matInput 
            id="sma" 
            formControlName="sma" 
            [(ngModel)]="sma" 
            (focusout)="updateGeneratorSettings()"
            placeholder="Ex: 6471000">
    </mat-form-field>
    <!-- Inclination -->
    <mat-form-field class="jso-field-full-width">
        <mat-label>Inclination of the planes (°)</mat-label>
        <input matInput 
            id="inclination" 
            formControlName="inclination" 
            [(ngModel)]="inclination" 
            (focusout)="updateGeneratorSettings()"
            placeholder="Ex: 65">
    </mat-form-field>
    <!-- first RAAN -->
    <mat-form-field class="jso-field-full-width">
        <mat-label>RAAN (right ascension of ascending node) of the first orbit plane (°)</mat-label>
        <input matInput 
            id="firstRAAN" 
            formControlName="firstRAAN" 
            [(ngModel)]="firstRAAN" 
            (focusout)="updateGeneratorSettings()"
            placeholder="Ex: 0">
    </mat-form-field>

    <div class="jso-spacer"></div>

    <label class="jso-group-fields-label">Walker Delta Pattern parameters</label>
    <div class="jso-group-fields-in-row">
        <!-- Walker delta pattern: 't' -->
        <mat-form-field class="jso-group-field-full-width">
            <mat-label>T: Total number of satellites</mat-label>
            <input matInput 
                id="walkerT" 
                formControlName="walkerT" 
                [(ngModel)]="walkerT" 
                (focusout)="updateGeneratorSettings()"
                placeholder="Ex: 0">
        </mat-form-field>
        <!-- Walker delta pattern: 'p' -->
        <mat-form-field class="jso-group-field-full-width">
            <mat-label>P: Number of equally spaced planes</mat-label>
            <input matInput 
                id="walkerP" 
                formControlName="walkerP" 
                [(ngModel)]="walkerP" 
                (focusout)="updateGeneratorSettings()"
                placeholder="Ex: 0">
        </mat-form-field>
        <!-- Walker delta pattern: 'f' -->
        <mat-form-field class="jso-group-field-full-width">
            <mat-label>F: Relative spacing between satellites in adjacent planes</mat-label>
            <input matInput 
                id="walkerF" 
                formControlName="walkerF" 
                [(ngModel)]="walkerF" 
                (focusout)="updateGeneratorSettings()"
                placeholder="Ex: 0">
        </mat-form-field>
    </div>
    <!--
    <div style="width: 50%; max-width: 50%;">
        <a href="https://en.wikipedia.org/wiki/Satellite_constellation#Walker_Constellation">
            <img
            src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Polar_and_Walker_Konstellation.png">
        </a>
    </div>
    -->

    <!-- Constellation color -->
    <mat-form-field>
        <mat-label>Constellation color (if undefined, each satellite receives a random color)</mat-label>
        <input matInput 
            type="color"
            id="constellationColorValue"
            formControlName="constellationColorValue"
            [(ngModel)]="constellationColorValue">
    </mat-form-field>
    
    <!-- Disable the 'Generate' button if the constellation name is empty -->
    <button type="submit" mat-stroked-button [disabled]="!consName" color="accent">Generate constellation</button>
</form>

<!-- Message display area -->
<div *ngIf="lastErrorMessage" class="jso-error-message-display">
    <p class="jso-text-style">{{ lastErrorMessage }}</p>
  </div>
  <div *ngIf="lastInfoMessage" class="jso-info-message-display">
    <p class="jso-text-style">{{ lastInfoMessage }}</p>
  </div>
