<div class="form-header">
    <h2>Date conversion</h2>
    <a routerLink="">
    <mat-icon color="accent">arrow_back_ios</mat-icon>
    </a>
</div>
<form [formGroup]="dateConversionForm" (ngSubmit)="onRunningCalculation()" class="jso-form-container">
    <mat-form-field class="jso-field-full-width">
        <input class="form-control" id="dateToConvert" formControlName="dateToConvert" matInput [ngxMatDatetimePicker]="picker" 
            placeholder="Date to convert">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker 
            [showSpinners]="showSpinners" 
            [showSeconds]="showSeconds"
            [stepHour]="stepHour" [stepMinute]="stepMinute" 
            [stepSecond]="stepSecond"
            [touchUi]="touchUi"
            [color]="color">
        </ngx-mat-datetime-picker>
    </mat-form-field>
    <mat-radio-group class="modeSelector" id="dateTargetFormat" formControlName="dateTargetFormat">
        <mat-radio-button value="JD">Julian Days (JD)</mat-radio-button>
        <mat-radio-button value="MJD">Modified Julian Days (MJD)</mat-radio-button>
    </mat-radio-group>
    <button type="submit" mat-stroked-button [disabled]="dateConversionForm.invalid" color="accent">Run the calculation</button>
</form>
<div class="result">
    <h4>Converted date</h4>
    <label >{{ dateConvertedValue }}</label>
</div>
<!-- Message display area -->
<div *ngIf="lastErrorMessage" class="jso-error-message-display">
    <p class="jso-text-style">{{ lastErrorMessage }}</p>
  </div>
  <div *ngIf="lastInfoMessage" class="jso-info-message-display">
    <p class="jso-text-style">{{ lastInfoMessage }}</p>
  </div>