<div class="search-tle">
<div class="form-header">
  <h2>TLE Import</h2>
  <a routerLink="">
    <mat-icon color="accent">arrow_back_ios</mat-icon>
  </a>
</div>


  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        Selected
        <!--<mat-checkbox (change)="$event ? masterToggle() : null"-->
                      <!--[checked]="selection.hasValue() && isAllSelected()"-->
                      <!--[indeterminate]="selection.hasValue() && !isAllSelected()">-->
        <!--</mat-checkbox>-->
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15, 25, 100]"></mat-paginator>
  <button id="validate-button" (click)="valide(); $event.stopPropagation()" mat-stroked-button color="accent">Validate TLE Selection</button>
</div>
