table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.search-tle{
  height: 100%;
  overflow: scroll;
}

#validate-button{
  width: 100%;
  height: 70px;
}

$icon-size: 75px;

.form-header {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  a {
    mat-icon {
      margin-left: 12px;
      font-size: $icon-size;
    }
  }
}

