<div class="form-header">
    <h2>Constellation Form</h2>
    <a routerLink="">
        <mat-icon color="accent">arrow_back_ios</mat-icon>
    </a>
</div>
<div class="example-container">
    <div class="constellationInput">
        <mat-form-field>
            <mat-label for="consName"> Constellation Name</mat-label>
            <input matInput [(ngModel)]="consName" id="consName"/>
        </mat-form-field>
        <mat-form-field class="jso-field-full-width">
            <mat-select [(ngModel)]="selectedSat" placeholder="Select a satellite to add to the constellation">
                <mat-option *ngFor="let avSat of getAvailableSatellites()" [value]="avSat"> {{ avSat }}</mat-option>
            </mat-select>
            <button mat-icon-button class="jso-button-full-width" (click)="addSat()" [disabled]="!isSelectedSat()"><mat-icon color="warn">add</mat-icon>Add satellite</button>
            <div class="jso-button-spacer"></div>
            <button mat-icon-button class="jso-button-full-width" (click)="addAllSats()" [disabled]="!isThereSatellitesToAdd()"><mat-icon color="warn">add</mat-icon>Add all satellites</button>
        </mat-form-field>
        <mat-list>
            <mat-list-item *ngFor="let sat of getSatellitesInConstellation()"> {{ sat }}
                <div class="btn-item">
                <button mat-icon-button (click)="removeSat(sat)"><mat-icon color="warn">close</mat-icon></button>
                </div>
            </mat-list-item>
        </mat-list>
        <!-- Disable the 'Save' button if the constellation name is empty -->
        <button mat-stroked-button [disabled]="!consName" (click)="onSaveConstellation()" color="accent">Save</button>
        <div class="jso-button-spacer"></div>
        <!-- Constellation Wizard -->
        <button mat-stroked-button (click)="onCreateConstellation()" color="accent">Constellation generator</button>
    </div>
</div>
<!-- Message display area -->
<div *ngIf="lastErrorMessage" class="jso-error-message-display">
    <p class="jso-text-style">{{ lastErrorMessage }}</p>
  </div>
  <div *ngIf="lastInfoMessage" class="jso-info-message-display">
    <p class="jso-text-style">{{ lastInfoMessage }}</p>
  </div>
