.example-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .example-container {
    margin-left: 50px;
    margin-right: 50px;
  }
  .example-container form {
    margin-bottom: 20px;
  }
  
  .example-container form > * {
    margin: 5px 0;
  }
  
  .example-container .mat-radio-button {
    margin: 0 5px;
  }
  
  .constellationInput{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  $icon-size: 75px;
  
  .form-header {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    a {
      mat-icon {
        margin-left: 12px;
        font-size: $icon-size;
      }
    }
  }
  