<div class="form-header">
  <h2>Eclipse calculation</h2>
  <a routerLink="">
    <mat-icon color="accent">arrow_back_ios</mat-icon>
  </a>
</div>
<div class="example-container">
  <mat-form-field>
    <mat-select [(ngModel)]="selectedSat">
      <mat-option *ngFor="let sat of satList" [value]="sat"> {{sat.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-stroked-button (click)="onRunningCalculation()" color="accent">Run the calculation</button>

  <app-eclipse-chart *ngIf="displayGraph" [data]="eclipseData"></app-eclipse-chart>
</div>

