<div class="form-header">
  <h2>Ground Station Form</h2>
  <a routerLink="">
    <mat-icon color="accent">arrow_back_ios</mat-icon>
  </a>
</div>
<div class="example-container">
  <div class="groundStationInput">
    <div>
        <label for="gsName"> Station Name</label>
        <nano-import-export-value [(ngModel)]="gsName" id="gsName"></nano-import-export-value>
    </div>
    <div>
        <label for="lattitude"> Station lattitude (°)</label>
        <nano-import-export-value id="lattitude" [(ngModel)]="latitude"></nano-import-export-value>
    </div><div>
        <label for="longitude"> Station longitude (°)</label>
        <nano-import-export-value id="longitude" [(ngModel)]="longitude"></nano-import-export-value>
    </div><div>
        <label for="altitude"> Station altitude (m)</label>
        <nano-import-export-value id="altitude" [(ngModel)]="altitude"></nano-import-export-value>
    </div>
    <div>
        <label for="Elevation"> Elevation (°)</label>
        <nano-import-export-value id="Elevation" [(ngModel)]="elevation"></nano-import-export-value>
    </div>
    <button mat-stroked-button (click)="onSavingGs()" color="accent">Save</button>
  </div>
</div>
<!-- Message display area -->
<div *ngIf="lastErrorMessage" class="jso-error-message-display">
  <p class="jso-text-style">{{ lastErrorMessage }}</p>
</div>
<div *ngIf="lastInfoMessage" class="jso-info-message-display">
  <p class="jso-text-style">{{ lastInfoMessage }}</p>
</div>
