<div class="form-header">
    <h2>Mission visualization with VTS</h2>
    <a routerLink="">
    <mat-icon color="accent">arrow_back_ios</mat-icon>
    </a>
</div>
<!-- JSatOrb VTS generation options -->
<form [formGroup]="vtsVisualizationForm" (ngSubmit)="launchVTSVisualization()" class="jso-form-container">

    <!-- Mandatory (in GUI) cartesian ephemerid data, because VTS needs it to visualize the satellite orbit -->
    <mat-checkbox matInput class="form-control" 
        id="genCartesianEphemerid" 
        formControlName="genCartesianEphemerid" 
        [(ngModel)]="genCartesianEphemerid" 
        name="genCartesianEphemerid" 
        disabled="true" 
        labelPosition="after">Generate Cartesian ephemeride (OEM CIC format)</mat-checkbox>

    <!-- Optional Keplerian ephemerid data contained in a MEM formatted CIC file -->
    <mat-checkbox matInput class="form-control" 
        id="genKeplerianEphemerid" 
        formControlName="genKeplerianEphemerid" 
        [(ngModel)]="genKeplerianEphemerid" 
        (focusout)="saveOptions()"
        name="genKeplerianEphemerid" 
        labelPosition="after">Generate Keplerian ephemeride (MEM CIC format)</mat-checkbox>

    <!-- Optional Latitude/Longitude/Altitude ephemerid data contained in a MEM formatted CIC file -->
    <mat-checkbox matInput class="form-control" 
        id="genLatLonAltEphemerid" 
        formControlName="genLatLonAltEphemerid" 
        [(ngModel)]="genLatLonAltEphemerid" 
        (focusout)="saveOptions()"
        name="genLatLonAltEphemerid" 
        labelPosition="after">Generate LLA (Lat/Lon/Alt) ephemeride (MEM CIC format)</mat-checkbox>

    <!-- Optional Eclipse data contained in a MEM formatted CIC file in which start and end of eclipse are signaled with dedicated events -->
    <mat-checkbox matInput class="form-control" 
        id="genEclipse" 
        formControlName="genEclipse" 
        [(ngModel)]="genEclipse" 
        (focusout)="saveOptions()"
        name="genEclipse" 
        labelPosition="after">Generate Eclipse data (MEM CIC format)</mat-checkbox>

    <!-- Optional Satellite/Ground station Visibility data contained in a MEM formatted CIC file in which start and end of visibility are signaled with dedicated events -->
    <mat-checkbox matInput class="form-control" 
        id="genVisibility" 
        formControlName="genVisibility" 
        [(ngModel)]="genVisibility" 
        (focusout)="saveOptions()"
        name="genVisibility" 
        labelPosition="after">Generate Visibility data (MEM CIC format)</mat-checkbox>

    <!-- Image cropper to select the region to process -->
    <label class="jso-group-fields-label">Attitude generation activation and pre-defined attitude law selection</label>
    <!--[cropper]="getCropper()"-->
    <div class="jso-group-fields-in-row">
        <!-- Optional satellite attitude data contained in an AEM formatted CIC file -->
        <mat-checkbox matInput class="form-control jso-group-checkbox-field" 
            id="genAttitude" 
            formControlName="genAttitude" 
            [(ngModel)]="genAttitude" 
            (focusout)="saveOptions()"
            name="genAttitude" 
            labelPosition="after">Generate Attitude data (AEM CIC format)</mat-checkbox>
        <!-- Attitude law drop-down list -->
        <mat-form-field class="jso-group-field-full-width">
            <mat-select 
                id="selectedAttitudeLaw" 
                class="jso-group-field-full-width"
                formControlName="selectedAttitudeLaw"
                [(ngModel)]="selectedAttitudeLaw" 
                (focusout)="saveOptions()"
                [disabled]="!genAttitude"
                placeholder="Select an attitude law">
            <mat-option *ngFor="let law of attitudeLaws" [value]="law">{{ getAttitudeLawDescription(law) }}</mat-option>
            </mat-select>
            <mat-hint>Select the pre-defined attitude law to use in the VTS visualization</mat-hint>
        </mat-form-field>
    </div>

    <div class="jso-button-spacer"></div>

    <!-- Button calling the JSatOrb REST API generating the output compressed VTS archive containing data files according to all the options selected above -->
    <button type="submit" mat-stroked-button color="accent">Launch VTS visualization</button>
</form>
<!-- Message display area -->
<div *ngIf="lastErrorMessage" class="jso-error-message-display">
    <p class="jso-text-style">{{ lastErrorMessage }}</p>
</div>
<div *ngIf="lastInfoMessage" class="jso-info-message-display">
    <p class="jso-text-style">{{ lastInfoMessage }}</p>
</div>