   $icon-size: 75px;
  
  .form-header {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    a {
      mat-icon {
        margin-left: 12px;
        font-size: $icon-size;
      }
    }
  }

  .mat-checkbox {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .result {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
