/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.jso-form-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
  
.jso-form-container {
    margin-left: 50px;
    margin-right: 50px;
}

.jso-form-container form {
    margin-top: 20px;
}
  
.jso-form-container form > * {
    margin: 5px 0;
}
  
.jso-form-container .mat-radio-button {
    margin: 0 5px;
}
  
.jso-text-style {
    white-space: pre-wrap;
}
  
.jso-comment {
    font-style: italic;
    color: cadetblue;
}

.jso-info-message-display {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(35, 205, 211);
}

.jso-error-message-display {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #F00;
}

.jso-group-fields-in-row {
    display: inline-block;
    border-radius:6px;
    border: 1px solid;    
    margin-bottom: 20px;
    margin-top: 5px;
}

.jso-group-field-full-width {
    width: 98%;
    max-width: 98%;
    margin-right: 2%;
    padding: 20px;
}

.jso-group-field-half-width {
    width: 48%;
    max-width: 48%;
    margin-right: 2%;
    padding: 20px;
}

.jso-group-field-third-width {
    width: 32%;
    max-width: 32%;
    margin-right: 1%;
    padding: 20px;
}

.jso-group-field-two-third-width {
    width: 64%;
    max-width: 64%;
    margin-right: 2%;
    padding: 20px;
}

.jso-group-fields-label {
    margin: 0px;
    margin-left: 10px;
    padding: 0px;
    font-style: italic;
    color: #AAAAAA;
}

.jso-group-label {
    font-style: italic;
    color: #228888;
}

.jso-group-checkbox-field {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

.jso-image-cropper {
    margin-top: 10px;
    margin-bottom: 10px;
}

.jso-image-cropper-label {
    width: 100%;
    text-align: center;
    margin: 10px;
}

.jso-field-full-width  {
    width: 100%;
    max-width: 100%;
}

.jso-button-full-width {
    width: 100%;
    max-width: 100%;
}

.jso-select-full-width {
    width: 100%;
    max-width: 100%;
}

.jso-field-half-width {
    width: 48%;
    max-width: 48%;
    margin-right: 2%;
}

.jso-field-third-width {
    width: 31%;
    max-width: 31%;
    margin-right: 2%;
}

.jso-jso-button-spacer {
    margin-top: 15px;
}

.jso-spacer {
    margin-top: 50px;
}

